.navbar {
  position: absolute;
  top: 30px; 
  left: 50%; 
  transform: translateX(-50%); 
  width: 90%; 
  max-width: 1200px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 3rem; 
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.75); 
  backdrop-filter: blur(20px); 
  -webkit-backdrop-filter: blur(12px); 
  border: 1px solid rgba(255, 255, 255, 0.6); 
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1); 
  z-index: 1000;
}

.navbar_cine h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #0f172a; 
  display: flex;   
  align-items: center;
}

.nav_links {
  display: flex;
  gap: 2.5rem; 
  align-items: center;
}

.nav_links a {
  text-decoration: none;
  color: #334155; 
  font-weight: 600;
  font-size: 1.1rem;
  transition: all 0.3s ease;
  position: relative;
}


.nav_links a:hover {
  color: #0284c7; 
}
.nav_links .active {
  color: #0284c7;
}

.nav_links .active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #0284c7;
  bottom: -5px;
  left: 0;
  border-radius: 2px;
}