* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
  width: 100%;
  overflow-x: hidden; 
  background-color: #EBFAFF;
  margin-left: 8px;
  margin-right: 8px;
}

.discContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.TitleHome{
  font-size: 40px;
  position: absolute;
  bottom: 300px;
  left: 40px;
}

.Hero {
  width: 100vw !important;  
  height: 100vh;
  display: block;         
  object-fit: cover;
}


.slider-controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 2rem 0 4rem 0; 
}

.nav-btn {
  padding: 10px 25px;
  background-color: #38bdf8;  
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-btn:hover {
  background-color: #0ea5e9; 
  transform: scale(1.05);
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 3rem 1rem;
  background-color: #EBFAFF;
}

.movieCard {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  max-width: 1000px; 
  margin: 0 auto;  
  gap: 1.5rem;    
  padding: 0 1rem;   
}

.movieLink {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #1e293b;
  transition: transform 0.3s ease;
  height: 100%; 
  width: 100%;
  align-items: center;
  padding: 50px 50px 50px;
}

.card-image {
  width: 100%;
  height: 220px;      
  object-fit: cover;  
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.movieLink h3 {
  font-size: 0.95rem;
  font-weight: 600;
  text-align: center;
  margin-top: 0.8rem;
  height: 40px;      
  overflow: hidden;   
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.movieLink h3:hover {
  color: #38bdf8;
  transform: translateY(-3px);
}

.slider-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0 4rem 0;
  width: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100; 
  
  background-color: #0f172a;
  color: #94a3b8;
  padding: 1rem 0;
  box-shadow: 0 -4px 10px rgba(0,0,0,0.3);
}

.footer-content {
  max-width: 1000px; 
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.footer p {
  font-size: 0.9rem;
}

.footer-links {
  display: flex;
  gap: 1.5rem;
}

.footer-links a {
  text-decoration: none;
  color: #cbd5e1;
  font-size: 0.9rem;
  transition: color 0.2s ease;
}

.footer-links a:hover {
  color: #38bdf8; 
}
